.SideDrawer {
	/* only see on small screen like on mobile */
	position: fixed;
	width: 280px;
	height: 100%;
	left: 0;
	top: 0;
	max-width: 70%; /* never go over the edges even super small screen*/
	z-index: 300; /* above the backdrop */
	padding: 32px 16px;
	box-sizing: border-box;
	transition: transform 0.3s ease-out;
	background-color: white;
}

/* on bigger device, we never see it */
@media (min-width: 500px) {
	.SideDrawer {
		display: none;
	}
}

.Open {
	transform: translateX(0);
}

/* shift to the left */
.Close {
	transform: translateX(-100%);
}

.Logo {
	height: 11%;
	margin-bottom: 32px;
}
